body {
  background-image: linear-gradient(to right, rgb(236, 230, 236) , rgb(255, 255, 255));
  }
  
  h2 {    color: antiquewhite;
    text-align: left ;background-color: rgb(102, 7, 102); border-style: outset;  }
    
      
     
  
  p {
      
    color: rgb(12, 12, 12);
    font-family: verdana;
    font-size: 20px;
  }
  h1.leftside {  text-decoration: underline;
    text-align:left;
    color: rgb(112, 4, 107);
  }
  h1 {  text-decoration: underline;}
    
div.competence{ color: antiquewhite;
    background-color: rgb(119, 4, 104)  ;width: 490px;border-style: outset ; border-width: 3px;margin: 2%;
  }
 aside {border-style: outset ; border-width: 5px ;width: 520px; border-left-color: rgb(134, 12, 118) ;}
 div.mescordonées{ 
    background-color:white; margin: 2%;padding-bottom: 0pc;}
  
section.me {
    position: absolute;
    top: 80px;
   left: 980px;
    width: 200px;
    height: 100px;}
table{display: inline-block;}
footer{  background-image: linear-gradient(to right, rgb(250, 249, 250) , rgb(77, 5, 80))  ;
    position: absolute;
    top: 850px;
   left: 10px;width: 100%;color: rgb(68, 3, 63);border-style: outset;}
 h1.foot{display: inline;}

 
